.shoot {
  display: none;
  padding: 50px;
}

.wrapper {
  max-width: 900;
}

.server-info {
  display: none;
  width: 150px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: pink;
  z-index: 2;
}

.scene {
  display: none;
}

.debug-info-box {
  position: fixed;
  overflow: scroll;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: gray;
  z-index: 2;
}

video {
  display: none;
  background-color: red;
  height: 800px;
  position: absolute;
  width: 732px;
  z-index: 1;
}
